<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fa893">  <td>18/04/23 14:56:36</td>   <td>0</td> <td title="&gt;&gt;Base.LoadTests(org.testng.ITestContext)[pri:0, instance:generic.Invoker@5700d6b1]">&gt;&gt;LoadTests</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>18/04/23 14:56:38</td>   <td>1163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartTest(java.lang.reflect.Method)[pri:0, instance:generic.Invoker@5700d6b1]">&gt;&gt;StartTest</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/04/23 14:56:38</td>   <td>1163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Invoker.InvokerTest()[pri:0, instance:generic.Invoker@5700d6b1]">InvokerTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>18/04/23 14:57:20</td>   <td>43248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.EndTest(java.lang.reflect.Method, org.testng.ITestResult)[pri:0, instance:generic.Invoker@5700d6b1]">&lt;&lt;EndTest</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
</table>
